/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

button {
  min-width: 100px;
  margin: 10px;
  font-size: 2rem;
}

span {
  font-size: 2rem;;
  margin: 10px;
}

section {
  border: 1px solid lightgray;
}